extends layout 

block metas
    title Hola
    meta(name="description",content="Descripción de la página Hola")

block content
    main.container 
        h1 Hola 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, porro tenetur minima possimus, esse, illo dolorum earum animi fugiat nostrum sapiente dolorem officiis accusamus! Illum ab temporibus dolorem ducimus adipisci?
        a(href="/") 🛖 Home 