extends layout 

block metas
    title Home de Express.js SSG 
    meta(name="description",content="Descripción de la página Home")

block content
    main.container
        h1 Home de mi sitio 
        nav 
            ul 
                li
                    a(href="/contact") Contact
                li
                    a(href="/git") Git
                li
                    a(href="/nodejs") Node.js
            
                li
                    a(href="/hola") Hola
                li
                    a(href="/nada") Error 404
            
