$sass-color:#bf4080;
$sass-color-80:#bf408080;

.sass-bg{
    background-color: $sass-color;
    transition: background-color .5s ease-in-out;

    &:hover{
        background-color: $sass-color-80;
    }
}